.carousel-container {
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
  /* background-color: #f9f9f9; */
  border-radius: 10px;
  /* box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1); */
  text-align: center;
}

.carousel-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  /* background: #8d8787; */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-card img {
  width: 100%;
  max-width: 80px;
  height: auto;
  border-radius: 50%;
}
.card-bottom{
  display: flex;
  padding-left: 25px;
}

.carousel-card h2 {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #333;
}
.carousel-card .card-bottom-text p {
  margin-top: 0px;
  font-size: 1.5rem;
  color: #333;
}

.carousel-card p {
  font-size: 1rem;
  color: #555;
  margin-top: 5px;
}

/* Styling for the dots */
.slick-dots {
  bottom: 10px;
}

.slick-dots li button:before {
  color: #333;
}

.slick-prev, .slick-next {
  color: #333;
}
